@import "_variables.scss";

button {
 padding: 0;
 border: 0;
 font-family: $font-serif;
 color: inherit;
 background-color: transparent;
 cursor: pointer;
}

.ch-btn {
  display: inline-block;
  font-family: $font-serif;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 2px $title;
  border-radius: 25px;
  padding: 10px 44px;
  color: $dark-black;
  background-color: $gray;
  transition: all .2s;

  &:hover {
    background: $title;
    color: $white;
  }
}

.ch-btn--primary {
  background-color: $title;
  color: $darker-black;
}

.ch-btn--primary:active,
.ch-btn--primary:hover {
  background-color: $title-hover;
  border-color: transparent;
}