@import url('https://fonts.googleapis.com/css?family=Muli|PT+Serif');

$dark-black: #545454;
$darker-black: #292929;
$gray: #f6f6f6;
$white: #ffffff;
$title: #f1cdb3;
$title-hover: #d8ab8b;

$font-sans-serif: 'Muli', sans-serif;
$font-serif: 'PT Serif', serif;
$font-size: 16px;
$line-height: 1.6;
