@import url(https://fonts.googleapis.com/css?family=Muli|PT+Serif);
/*! sanitize.css v7.0.3 | CC0 License | github.com/csstools/sanitize.css */
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

html {
  cursor: default;
  font-family: system-ui, -apple-system, Segoe UI,Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  height: 0;
  overflow: visible; }

main {
  display: block; }

nav ol,
nav ul {
  list-style: none; }

pre {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Liberation Mono, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg {
  fill: currentColor; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input,
select {
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

input {
  overflow: visible; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

select {
  text-transform: none; }

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  padding: 0; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit; }

::-moz-focus-inner {
  border-style: none;
  padding: 0; }

:-moz-focusring {
  outline: 1px dotted ButtonText; }

details {
  display: block; }

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

[hidden] {
  display: none; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled],
[disabled] {
  cursor: not-allowed; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

body {
  background: #ffffff;
  font-family: "Muli", sans-serif;
  font-size: #ffffff;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden; }

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: .5em; }

h1, h2, h3, h4 {
  font-family: "PT Serif", serif;
  line-height: 1.3;
  letter-spacing: .9px; }

a {
  color: #545454;
  text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

button {
  padding: 0;
  border: 0;
  font-family: "PT Serif", serif;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.ch-btn {
  display: inline-block;
  font-family: "PT Serif", serif;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 2px #f1cdb3;
  border-radius: 25px;
  padding: 10px 44px;
  color: #545454;
  background-color: #f6f6f6;
  transition: all .2s; }
  .ch-btn:hover {
    background: #f1cdb3;
    color: #ffffff; }

.ch-btn--primary {
  background-color: #f1cdb3;
  color: #292929; }

.ch-btn--primary:active,
.ch-btn--primary:hover {
  background-color: #d8ab8b;
  border-color: transparent; }

.ch-cards {
  flex-basis: 270px;
  max-width: 100%;
  display: flex;
  border-radius: 9px;
  flex-direction: column;
  margin: 0 64px;
  padding: 40px;
  position: relative;
  background-color: #fafafa;
  font-family: "PT Serif", serif;
  box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.01), 0px 1px 27px 3px rgba(0, 0, 0, 0.1);
  transition: transform .2s; }
  .ch-cards:hover {
    transform: translateY(-2%); }
  .ch-cards figure {
    margin: 0;
    padding-bottom: 30px; }
  .ch-cards p {
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-size: 20px; }

.wrapper {
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 440px) {
    .wrapper {
      max-width: 408px;
      width: 408px; } }
  @media screen and (min-width: 768px) {
    .wrapper {
      max-width: 736px;
      width: 736px; } }
  @media screen and (min-width: 1200px) {
    .wrapper {
      max-width: 1168px;
      width: 1168px; } }

section.ch-hero {
  background: url("/public/assets/images/Dog-hero.jpg");
  background-size: cover;
  position: relative;
  width: auto;
  height: 100%;
  overflow-x: hidden; }

.ch-navigation {
  min-height: 3.25rem;
  position: relative;
  display: flex;
  padding: 40px 0; }
  .ch-navigation > .wrapper {
    align-items: center;
    display: flex;
    min-height: 3.25rem;
    width: 100%; }
  .ch-navigation .ch-logo {
    display: flex;
    justify-content: flex-start;
    margin-right: auto; }
    .ch-navigation .ch-logo a {
      display: flex;
      align-items: center;
      flex: 0 0 auto; }
  .ch-navigation .ch-nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto; }
    .ch-navigation .ch-nav ul {
      display: flex; }
    .ch-navigation .ch-nav li:not(:last-child) {
      margin-right: 38px; }
    .ch-navigation .ch-nav li a {
      color: #f6f6f6;
      padding: 15px 0; }
    .ch-navigation .ch-nav li a:hover {
      border-bottom: 3px solid #f1cdb3; }

.ch-hero-desc {
  color: #f6f6f6;
  padding-top: 100px;
  width: 443px; }
  .ch-hero-desc .ch-hero__title {
    font-size: 57px;
    font-weight: 400;
    margin-bottom: 43px; }
  .ch-hero-desc .ch-hero__description {
    margin-bottom: 44px; }

.ch-cta--button {
  padding-bottom: 140px; }

section.ch-about,
section.ch-dogfriends,
section.ch-features,
section.ch-donation,
.ch-footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative; }

section.ch-about .ch-about-cozydog {
  display: flex;
  align-items: flex-start; }

section.ch-about .ch-about__image, section.ch-about .ch-about__description {
  flex-grow: 1;
  padding: 0 60px;
  max-width: 100%; }

section.ch-about .ch-about__image {
  flex-basis: 300px;
  width: 300px; }

section.ch-about .ch-about__description {
  flex-basis: 415px;
  width: 415px; }
  section.ch-about .ch-about__description h2 {
    font-size: 35px;
    margin-bottom: 37px; }
  section.ch-about .ch-about__description p {
    margin-bottom: 30px;
    font-size: 17px; }

.ch-dogfriends {
  background-color: #f6f6f6; }
  .ch-dogfriends .ch-dogfriends__title {
    text-align: center;
    padding-bottom: 60px;
    color: #545454; }
  .ch-dogfriends .ch-dog__cards {
    display: flex;
    align-items: center;
    justify-content: center; }
  .ch-dogfriends .ch-dog__button {
    display: flex;
    justify-content: center;
    padding-top: 60px; }

.ch-features {
  position: relative; }
  .ch-features .ch-features__title {
    color: #545454;
    text-align: center;
    padding-bottom: 80px; }
  .ch-features .ch-many-feature ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .ch-features .ch-many-feature ul .ch-feature-item {
      padding: 0 60px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .ch-features .ch-many-feature ul .ch-feature-item .item-icon {
        margin-bottom: 28px; }
      .ch-features .ch-many-feature ul .ch-feature-item span {
        font-family: "PT Serif", serif;
        font-size: 17px;
        color: #545454;
        letter-spacing: .8px; }

.ch-donation {
  background-color: #f6f6f6;
  position: relative; }
  .ch-donation .ch-donation-desc {
    display: flex;
    align-items: center; }
    .ch-donation .ch-donation-desc .column-image {
      flex: 1;
      padding: 0 30px; }
      .ch-donation .ch-donation-desc .column-image figure {
        margin: 0;
        padding: 20px; }
    .ch-donation .ch-donation-desc .column-description {
      flex-basis: 560px;
      padding: 0 30px;
      font-family: "PT Serif", serif; }
      .ch-donation .ch-donation-desc .column-description .ch-donation__title {
        line-height: 1.6;
        color: #545454; }
        .ch-donation .ch-donation-desc .column-description .ch-donation__title h1 {
          line-height: 1.6; }
      .ch-donation .ch-donation-desc .column-description .ch-donation-account {
        padding-bottom: 15px; }
        .ch-donation .ch-donation-desc .column-description .ch-donation-account p {
          margin-bottom: 15px;
          letter-spacing: 1.3px; }
        .ch-donation .ch-donation-desc .column-description .ch-donation-account button.ch-btn--donation {
          display: flex;
          align-items: center;
          padding: 8px 20px; }
          .ch-donation .ch-donation-desc .column-description .ch-donation-account button.ch-btn--donation .ch-donation-icon {
            margin-right: 12px; }
      .ch-donation .ch-donation-desc .column-description .ch-legal-information {
        padding-top: 15px;
        font-size: 11px;
        letter-spacing: .4px;
        color: #b2b2b2; }

.ch-footer {
  background: url("/public/assets/images/Dog-footer.jpg") center center;
  background-size: cover; }
  .ch-footer .ch-footer-information {
    display: flex;
    justify-content: stretch;
    align-items: stretch; }
    .ch-footer .ch-footer-information .information-1, .ch-footer .ch-footer-information .information-2 {
      padding: 0 30px;
      flex-basis: 325px; }
    .ch-footer .ch-footer-information .ch-footer__title {
      color: #f6f6f6;
      font-weight: 300; }
    .ch-footer .ch-footer-information .ch-information-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: stretch; }
      .ch-footer .ch-footer-information .ch-information-list .ch-information-listitem {
        color: #f1cdb3;
        font-family: "PT Serif", serif; }

